/*
*****Elements*****
*/


body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #0a0a0f;
    margin: 1%;
}

h1 {
    font-size: 225%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 125%;
}

a {
    color: #f0f0f5;
}
header {
    background-color: #0a0a0f;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
}

.hero {
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/benchbackground.png");
    background-position: center;
    background-size: cover;
}
li {
    margin: 5px;
}

main {
    background-color:#f0f0f5;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0eb;
    display: flex;
    flex-direction: column;
}

p {
    margin:2%;
}

footer {
    text-align: center;
}

body header {
    display: flex;
    justify-content: space-between;
}

body header h1 {
    padding: .5%;
    padding-left: 5%;
    background-color:#f0f0f5;
    text-shadow: .5px .5px 1f1f2e;
}

body header nav {
    padding-right: 5%;
}

body header nav ul {
    display: flex;
}

main section {
    margin:1%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
}

body main section h2 {
    /* max growth 145 px to line up with J Brennan in header */
    padding: .5%;
    width: 20%;
    border-right: solid;
    border-width: 2px;
    border-color: #0a0a0f;
    display: flex;
    justify-content: flex-end;
    text-align: end;
}