:root {
    --jblack: #0a0a0f;
    --jwhite: #f0f0f5;
    --jgray: #a3a3a3;
    --jdarkgray: #5c5c5c;
    --marg: 1%;
    --pheight: 200px;
}

body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--jblack);
    margin: 3%;
}

h1 {
    font-size: 225%;
}

h2 {
    font-size: 200%;
    margin: var(--marg);
}

.jheader {
    background-color: var(--jblack);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.jheader h1 {
    padding: 1%;
    padding-left: 5%;
    background-color:var(--jwhite);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3%;
}

nav a {
    color: var(--jwhite);
}

.hero-image {
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/benchbackground.png");
    background-position: center;
    background-size: cover;
} 

.hero-image button {
    border: solid;
    border-color: var(--jgray);
    border-width: 1px;
    display: inline-block;
    padding: 10px 25px;
    color: var(--jblack);
    background-color: var(--jwhite);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 10%;
  }

.hero-image button:hover {
    background-color: var(--jblack);
    color: var(--jwhite);
}

main {
    background-color:var(--jwhite);
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0eb;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
}

main header {
    margin: var(--marg);
    padding: 1%;
    word-spacing: 169px;
    text-align: end;
    border-right-color: var(--jblack);
    border-right-style: solid;
    border-right-width: 2px;
    flex: 0 0 169px;
}

main section {
    padding: 1%;
    flex:1 0 70%;
}

#aboutme {
    margin: 1%;
}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin: 1%;
    outline-style: solid;
    outline-color: var(--jdarkgray);
    width: 48%;
    height: var(--pheight);
    background-color: var(--jgray);
}


figcaption {
    border: solid;
    border-color: var(--jdarkgray);
    border-width: 1px;
    display: inline-block;
    padding: 10px 25px;
    color: var(--jblack);
    background-color: var(--jwhite);
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 75%;
    right: 0;
    height: 16px;
}

#latestproject {
    width: 100%;
    height: calc(2 * var(--pheight));
}

#contactme { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contactme > * {
    color: var(--jblack);
    text-decoration: underline;
}

footer {
    background-color: var(--jblack);
    text-align: center;
    margin-top: 1%;
    padding: 1%;
    padding-top: 2%;
}

footer p {
    color: var(--jwhite);
}