:root {
    --jblack: #0a0a0f;
    --jwhite: #f0f0f5;
    --marg: 1%;
}

/*
*****Elements*****
*/


body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--jblack);
    margin: 3%;
}

h1 {
    font-size: 225%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 125%;
}

.jheader {
    background-color: var(--jblack);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.jheader h1 {
    padding: 1%;
    padding-left: 5%;
    background-color:var(--jwhite);
}

nav {
    width: 300px;
}

nav li {
    display: inline-block;
    margin: var(--marg);
}

nav a {
    color: var(--jwhite);
}

.hero {
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/benchbackground.png");
    background-position: center;
    background-size: cover;
} 

main {
    background-color:var(--jwhite);
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0eb;
    display: flex;
    flex-wrap: wrap;
}

main header {
    width: 25%;
    text-align: end;
}

main section {
    width: 75%;
}

/*
p {
    margin:2%;
}

footer {
    text-align: center;
} */

/* main section {
    margin: var(--marg);
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
} */

/* body main section h2 {
    padding: .5%;
    width: 20%;
    border-right: solid;
    border-width: 2px;
    border-color: var(--jblack);
    display: flex;
    justify-content: flex-end;
    text-align: end;
} */

/* ******ID's***** */

/* #work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
} */

/* ******Classes****** */
